.poster_content_item {
  border-radius: 0.6rem;
  overflow: hidden;
  display: flex;
  position: relative;
}

.img_poster {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
  transition: .3s;
}

.anime_eps {
  font-weight: 600;
  font-size: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60%;
  border-top-right-radius: 0.6rem;
  background-color: var(--orange);
  color: var(--space);
}

.anime_eps_muted {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60%;
  border-top-right-radius: 0.6rem;
  background-color: var(--grey);
  color: var(--black);
}

.img_poster ~ .hov_effect {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(6, 17, 60, 0.6);
  background: linear-gradient(to top, rgba(6, 17, 60, 0.9), transparent);
  position: absolute;
  transition: .4s;
}

.img_poster ~ .hov_effect > i {
  font-size: 2.8rem;
  color: var(--orange);
}

.anime_comp_wrapper {
  text-decoration: none;
}

.anime_comp_wrapper:hover .anime_title {
  color: var(--orange);
}
.anime_comp_wrapper:hover .hov_effect{
  opacity: 1;
}
.anime_comp_wrapper:hover .img_poster {
  transform: scale(1.1);
}

.anime_title {
  font-weight: 520;
  color: var(--black);
  font-size: .9rem;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: max-content;
  max-height: 3rem;
  overflow: hidden;
  transition: .2s;
}

@media (min-width: 768px) {
  .img_poster {
    height: 12rem;
  }
  .anime_title {
    font-size: 1rem;
  }
  .anime_eps {
    font-size: .85rem;
  }
}

@media (min-width: 992px) {
  .img_poster {
    height: 16rem;
  }
  .anime_title {
    font-size: 18px;
    max-height: 3.2rem;
  }
}

@media (min-width: 1200px) {
  .anime_title {
    font-size: 1.2rem;
    max-height: 3.2rem;
  }
}

@media (min-width: 1400px) {
  .anime_title {
    font-size: 1.2rem;
    max-height: 3.4rem;
  }
}