.carousel_poster {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.btn_watch {
 background-color: var(--orange);
 color: var(--space);
 display: block; 
 width: 6rem;
 padding: .4rem .8rem;
 font-size: .9rem;
 border-radius: 1.4rem;
 margin-top: .5rem;
 text-align: center;
 font-weight: bold;
 border: 2px solid transparent;
 transition: .3s;
 text-decoration: none;
}

.btn_watch:hover {
  background-color: var(--orange-hover);
  color: var(--space);
  text-decoration: underline;
}


@media (min-width: 769px) {
  .btn_watch {
    width: 8rem;
    padding: .6rem 1.5rem;
  }
}

