.mobile_nav {
  background-color: red !important;
  box-shadow: 0px -1px 5px 0px rgba(255, 217, 173, 0.75);
  display: flex;
}

.active,
.icon-name.active {
  color: var(--orange);
  font-weight: bold;
}

.no-act {
  color: var(--black);
}

.icon-label{
  margin: 0;
  font-size: 0.8rem;
}

.nav-mob-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.visible-mob-nav {
  height: 3.7rem;
  width: 100%;
}

@media (min-width: 992px) {
  .navbar.mobile-nav{
    display: none;
  }
  .wrapper-mob-nav > .mob-nav,
  .visible-mob-nav {
    display: none;
  }
}
