.carousel_poster {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.btn_watch {
 display: block; 
 width: 8rem;
 padding: .6rem 1.5rem;
 background-color: var(--orange);
 color: var(--space);
 font-size: 1.1rem;
 border-radius: 1.4rem;
 margin-top: .5rem;
 text-align: center;
 font-weight: bold;
 border: 2px solid transparent;
 transition: .3s;
}

.btn_watch:hover {
  background-color: transparent;
  border: 2px solid var(--space);
  color: var(--space);
  text-decoration: underline;
}

