@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins&display=swap");

:root {
  --black: rgb(6, 17, 60);
  --orange: rgb(255, 140, 50);
  --grey: rgb(221, 221, 221);
  --space: rgb(238, 238, 238);
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  background-color: var(--space) !important;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 992px) {
  /* Scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--space);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 139, 50, 0.5);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
  }
}

/* Text Properties */
.text {
  overflow: hidden;
  text-align: left;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* Desktop Navigation */
nav.navbar {
  display: none;
}

.navbar.bg-transparent input, 
.navbar.bg-transparent button{
  background-color: transparent !important;
  color: var(--space);
  caret-color: var(--space);
}

.navbar.bg-transparent button:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.navbar.bg-orange button{
  background-color: rgba(255, 139, 50, 0.4);
  transition: .3s;
}

.navbar.bg-orange button:hover {
  background-color: rgb(255, 140, 50);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.bg-orange {
  background-color: var(--orange);
}

/* Mobile Navigation */
.fixed-bottom.mobile-nav{
  background-color: var(--space) !important;
  box-shadow: 0px -1px 5px 0px rgba(255, 217, 173, 0.75);
  display: block;
}

.nav-mob-item.active > .icon-label,
.nav-mob-item.active > i {
  color: var(--orange);
  font-weight: bold;
}

.nav-mob-item > i, 
.nav-mob-item .icon-label{
  color: var(--black);
  font-weight: bold;
}

.icon-label{
  margin: 0;
  font-size: 0.8rem;
}

/* Carousel*/
.slide-item {
  height: 35vh;
  align-items: center;
}

.bg-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-poster::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

.slide-item .poster,
.slide-item .details {
  position: relative;
  z-index: 99;
}

.slide-item .poster img {
  border-radius: 0.5rem;
}

.slide-item .details .title-detail {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--space);
  -webkit-line-clamp: 2;
  min-height: max-content;
  max-height: 3rem;
}

.slide-item .details .description-detail {
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--space);
  height: 3.2rem;
  -webkit-line-clamp: 3;
}

.description-detail ~ .btn-watch {
  background-color: var(--orange);
  color: var(--space);
}

/* Show More */
nav.navbar.showmore-nav {
  display: flex;
  background-color: var(--orange);
}

.showmore.col-3 {
  width: 33.2%;
}

.showmore-back {
  font-size: 1.6rem;
}

.showmore-back, .showmore-title {
  color: var(--space);
}

.showmore-title {
  font-size: 1.2rem;
  width: 100%;
}

@media (min-width: 576px) {
  .showmore.col-sm-3 {
    width: 24%;
  }
}

@media (min-width: 768px) {
  .slide-item .poster {
    width: 15%;
    margin-right: 1rem;
  }

  .slide-item .details .title-detail {
    font-size: 1.5rem;
  }

  .slide-item .details .description-detail {
    font-size: 0.8rem;
    height: 5rem;
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 992px) {
  .showmore.col-lg-2 {
    width: 20%;
  }
  nav.navbar {
    display: flex;
    transition: 0.3s ease-in-out;
  }

  .fixed-bottom.mobile-nav{
    display: none;
  }
  .wrapper-mob-nav > .mob-nav,
  .visible-mob-nav {
    display: none;
  }

  .slide-item {
    height: 65vh;
  }

  .slide-item .details .title-detail {
    font-size: 1.8rem;
  }

  .slide-item .details .description-detail {
    font-size: 1rem;
    height: 6rem;
    -webkit-line-clamp: 4;
  }
}

@media (min-width: 1200px) {
  .showmore.col-xl-1 {
    width: 14%;
  }
}
