@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins&display=swap");

:root {
  --black: rgb(6, 17, 60);
  --orange: rgb(255, 140, 50);
  --grey: rgb(221, 221, 221);
  --space: rgb(238, 238, 238);
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  background-color: var(--space) !important;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

@media (min-width: 992px) {
  /* Scroll */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--space);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 139, 50, 0.5);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
  }
}

/* Text Properties */
.text {
  overflow: hidden;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  min-height: max-content;
}

/* Desktop Navigation */
nav.navbar {
  display: none;
}

.navbar.bg-transparent input, 
.navbar.bg-transparent button{
  background-color: transparent !important;
  color: var(--space);
  caret-color: var(--space);
}

.navbar.bg-transparent button:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.navbar.bg-orange button{
  background-color: rgba(255, 139, 50, 0.4);
  transition: .3s;
}

.navbar.bg-orange button:hover {
  background-color: rgb(255, 140, 50);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.bg-orange {
  background-color: var(--orange);
}

.bg-space {
  background-color: var(--space);
}

/* Mobile Navigation */
.fixed-bottom.mobile-nav{
  background-color: var(--space) !important;
  box-shadow: 0px -1px 5px 0px rgba(255, 217, 173, 0.75);
  display: block;
}

.nav-mob-item.active > .icon-label,
.nav-mob-item.active > i {
  color: var(--orange);
  font-weight: bold;
}

.nav-mob-item > i, 
.nav-mob-item .icon-label{
  color: var(--black);
  font-weight: bold;
}

.icon-label{
  margin: 0;
  font-size: 0.8rem;
}

/* Carousel*/
.slide-item {
  height: 35vh;
  align-items: center;
}

.bg-poster {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-poster::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
}

.slide-item .poster,
.slide-item .details {
  position: relative;
  z-index: 99;
}

.slide-item .poster img {
  border-radius: 0.5rem;
}

.slide-item .details .title-detail {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--space);
  -webkit-line-clamp: 2;
  min-height: max-content;
  max-height: 3rem;
}

.slide-item .details .description-detail {
  font-size: 0.7rem;
  font-weight: normal;
  color: var(--space);
  height: 3.2rem;
  -webkit-line-clamp: 3;
}

.description-detail ~ .btn-watch {
  background-color: var(--orange);
  color: var(--space);
}

/* Show More */
nav.navbar.showmore-nav {
  display: flex;
  background-color: var(--orange);
}

.showmore.col-3 {
  width: 33.2%;
}

.showmore-back {
  font-size: 1.6rem;
}

.showmore-back, .showmore-title {
  color: var(--space);
}

.showmore-title {
  font-size: 1.2rem;
  width: 100%;
}

/* Anime Card Comp */
.anime-card {
  background-color: var(--grey);
  padding: 0;
  overflow: hidden;
  gap: .5rem;
  position: relative;
}
.anime-card.col-12 {
  height: 7.6rem;
  width: 95%;
}
.anime-card > .link {
  width: 100%;
}
.wrapper-card-thumb {
  width: 25%;
  display: flex;
  align-items: stretch;
}
.anime-card-poster {
  padding: 0 !important;
}
.img-poster {
  object-fit: cover;
}
.card-about {
  padding: .2rem;
  width: 70%;
}

.card-about-title {
  font-weight: 550;
  color: var(--black);
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: max-content;
  max-height: 3rem;
  overflow: hidden;
}

.card-about-text {
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
  -webkit-line-clamp: 2;
  max-height: 3rem;
}

.card-about > .badge.rounded-pill {
  font-size: 10px !important;
}

/* Anime History Comp */
.delete-history {
  font-size: 1.5rem;
  color: var(--black);
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: var(--grey) !important;
}

.delete-history:hover {
  color: rgb(5, 13, 48);
  background-color: rgb(141, 141, 141) !important;
}

.modal-title {
  font-size: 22px;
  font-weight: bold;
}
.modal-text-detail {
  font-size: 16px;
}

.btn.accept {
  background-color: var(--orange);
  color: var(--space);
}

.btn.cancel {
  background-color: var(--grey);
  color: var(--black);
}

/* Streaming Page */
.streaming-container {
  padding: 0 !important;
}

.video-wrapper{
  position: sticky;
  top: 0;
}

.eps-section {
  padding: 0 .5rem;
}

.title-episode-list {
  display: none;
}

.episode-list {
  padding-top: .5rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  margin: 0 auto;
}

.button-group {
  margin-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.episode-item {
  display: inline-block;
  margin-right: 1rem;
  width: 3rem;
  color: var(--black);
}

.episode-item .number {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--black);
  border-radius: .4rem;
}

.episode-item .number,
.episode-item .label,
.episode-item .label-number {
  font-size: 1.2rem;
  margin: 0;
}

.episode-item .group-label {
  display: none;
}

.episode-item.active .number{
  background-color: var(--black);
  color: var(--space);
}

.episode-item.active .group-label {
  background-color: var(--orange);
  color: var(--space);
}

@media (min-width: 576px) {
  .showmore.col-sm-3 {
    width: 24%;
  }
  .wrapper-card-thumb {
    width: 20%;
  }
  .card-about {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .slide-item .poster {
    width: 15%;
    margin-right: 1rem;
  }

  .slide-item .details .title-detail {
    font-size: 1.5rem;
  }
  
  .slide-item .details .description-detail {
    font-size: 0.8rem;
    height: 5rem;
    -webkit-line-clamp: 4;
  }
  
  .anime-card.col-md-6 {
    height: 8.5rem;
    width: 48%;
  }
  .wrapper-card-thumb {
    width: 25%;
  }
  .card-about {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .showmore.col-lg-2 {
    width: 20%;
  }
  nav.navbar {
    display: flex;
    transition: 0.3s ease-in-out;
  }

  .fixed-bottom.mobile-nav{
    display: none;
  }
  .wrapper-mob-nav > .mob-nav,
  .visible-mob-nav {
    display: none;
  }

  .slide-item {
    height: 65vh;
  }

  .slide-item .details .title-detail {
    font-size: 1.8rem;
  }

  .slide-item .details .description-detail {
    font-size: 1rem;
    height: 6rem;
    -webkit-line-clamp: 4;
  }
  .wrapper-card-thumb {
    width: 30%;
  }

  /* Streaming */
  .episode-list {
    max-height: 33vw;
    overflow: hidden;
    overflow-y: auto;
  }

  .title-episode-list {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: var(--black);
    color: var(--space);
    padding: .5rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .button-group {
    max-width: 75%;
  }

  .episode-item, .episode-item .group-label {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }

  .episode-item {
    margin-bottom: 1rem;
    border: none;
    height: 3rem;
  }

  .episode-item .group-label {
    height: 100%;
    justify-content: center;
    gap: 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    border: 2px solid var(--orange);
  }

  .episode-item .number {
    height: 100%;
    border-radius: .8rem 0 0 .8rem;
  }

  .episode-item .group-label,
  .episode-item .number {
    padding: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .showmore.col-xl-1 {
    width: 14%;
  }

  .anime-card.col-lg-4 {
    width: 32.5%;
    height: 11rem;
  }

  
}
